@import "sprites";
@import "testing";

body {
	background-color: #000;
	margin: 2em auto;
	text-align: center;
	color: #fff;
	font-size: 1em;
	text-transform: uppercase;
	font-family: 'Proxima Nova';
	min-height: 400em;
	width: 20em;
}
.testing {
	//Percentage is sass function
	display:flex;
	width: percentage(5/7);
	height: 100em;
	color: red;
	@include retina-sprite($shoes-group);
}
//Spritesheet map
@include sprites($spritesheet-sprites);
